<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="calendar" class="is-solid"></clr-icon>
        <span class="title">Markdown Journal</span>
      </a>
    </div>
    <div class="header-nav">
      <a (click)="view = 'preview'" [ngClass]="view === 'preview' ? 'active' : ''" class="nav-link nav-text">Preview</a>
      <a (click)="view = 'edit'" [ngClass]="view === 'edit' ? 'active' : ''" class="nav-link nav-text">Edit</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div *ngIf="view === 'preview'">
        <app-preview></app-preview>
      </div>
      <div *ngIf="view === 'edit'">
        <app-editor></app-editor>
      </div>
    </div>
    <nav class="sidenav">
      ...
    </nav>
  </div>
</div>